<!-- index page, child of base.html -->
{% extends "base.html" %}

{% block page_header %}
	<div id="prof-wrapper"> 
		<img id="profpic" src="static/img/olly.png"/>
	</div>
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec metus volutpat, mollis lectus tristique, scelerisque orci. Maecenas hendrerit enim tellus. Ut facilisis viverra dictum. Fusce in mollis nunc, at porttitor arcu. Suspendisse potenti. Sed aliquet metus eu felis lacinia finibus. Aenean eget diam at quam mattis consectetur. Praesent eu turpis porta, viverra est eu, tristique nunc. Nunc vitae mattis tellus. Sed viverra consequat pulvinar. Cras nisl urna, mollis at arcu nec, aliquam faucibus lectus. Nam imperdiet venenatis mollis. Praesent pellentesque felis sit amet orci sodales, eu cursus nisi rutrum.</p>
        
        <p>Cras sodales leo tellus, sed tempus ipsum mollis in. Donec dictum neque sit amet porttitor bibendum. Pellentesque consequat dignissim quam et consectetur. Nam rutrum sapien nisl, quis scelerisque dui vulputate et. Suspendisse gravida luctus arcu, ac fermentum leo mattis vitae. Sed ut sem ac ligula fringilla congue sit amet et mauris. Nunc ut tristique augue, eu ultrices ipsum. Fusce vestibulum dui quis felis bibendum, ut tempus tellus suscipit. Mauris quis finibus dolor. Quisque pulvinar tristique felis vel sodales. Phasellus vitae rutrum erat. Pellentesque pellentesque elit dolor, tincidunt laoreet magna lobortis nec. Phasellus velit massa, auctor non lacus in, lobortis lacinia est. </p>
        
        <p>Cras sodales leo tellus, sed tempus ipsum mollis in. Donec dictum neque sit amet porttitor bibendum. Pellentesque consequat dignissim quam et consectetur. Nam rutrum sapien nisl, quis scelerisque dui vulputate et. Suspendisse gravida luctus arcu, ac fermentum leo mattis vitae. Sed ut sem ac ligula fringilla congue sit amet et mauris. Nunc ut tristique augue, eu ultrices ipsum. Fusce vestibulum dui quis felis bibendum, ut tempus tellus suscipit. Mauris quis finibus dolor. Quisque pulvinar tristique felis vel sodales. Phasellus vitae rutrum erat. Pellentesque pellentesque elit dolor, tincidunt laoreet magna lobortis nec. Phasellus velit massa, auctor non lacus in, lobortis lacinia est. </p>
        
        <p>Cras sodales leo tellus, sed tempus ipsum mollis in. Donec dictum neque sit amet porttitor bibendum. Pellentesque consequat dignissim quam et consectetur. Nam rutrum sapien nisl, quis scelerisque dui vulputate et. Suspendisse gravida luctus arcu, ac fermentum leo mattis vitae. Sed ut sem ac ligula fringilla congue sit amet et mauris. Nunc ut tristique augue, eu ultrices ipsum. Fusce vestibulum dui quis felis bibendum, ut tempus tellus suscipit. Mauris quis finibus dolor. Quisque pulvinar tristique felis vel sodales. Phasellus vitae rutrum erat. Pellentesque pellentesque elit dolor, tincidunt laoreet magna lobortis nec. Phasellus velit massa, auctor non lacus in, lobortis lacinia est. </p>
{% endblock %}


